@using Doniczkomat.Database
@model List<PlantPot>

@{
    /*
    if (Model.Count == 0)
        {
        <p>Nothing but ducks here...</p>
            }
            else
            {

        string bgColor = "";
        @foreach (var item in Model)
            {

            @if (item.waterLevel < 30)
                {
                bgColor = "aliceblue";
            }
                else
                {
            bgColor = "yellow";
            }
            <ul style="background-color:@bgColor;padding:20px;">
                <li>@item.name</li>
                <li>|</li>
                <li>Poziom wody: @item.waterLevel %</li>
                <li>|</li>
                <li>Wilgotnośc gleby @item.soilMoisture %</li>
                <li>|</li>
                <li>Ostatnie podlewanie: @item.lastWatering.ToShortDateString()</li>
                <li>|</li>
                <li>Odstęp między podlewaniami: @item.cooldown dni</li>
    </ul>*/
    //}

           // }

        }
    <!--style>
        ul {
        list-style-type: none;
        margin: 0px;
        padding: 0;
        overflow: hidden;
    }

        li {
        float: left;
        padding: 0 10px 0 0;
            }
        <style-->
    